.li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 8px 0;
}

.li:last-child {
  border-bottom: none;
}

.buttons-container {
  display: flex;
  gap: 4px;
}

.task-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 8px;
  flex-grow: 1;
}

.task-name {
  text-decoration: line-through;
  font-style: italic;
}

.input-task {
  flex-grow: 1;
}
